/* Theme tokens */
:root {
    --bg-color: #ffffff;
    --text-color: #111827;
    --panel-bg-color: #ffffff;
    --border-color: #d1d5db;
    --button-bg-color: #f3f4f6;
    --button-text-color: #111827;
}

body.dark-mode {
    --bg-color: #111827;
    --text-color: #e5e7eb;
    --panel-bg-color: #1f2937;
    --border-color: #4b5563;
    --button-bg-color: #374151;
    --button-text-color: #e5e7eb;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

/* #outertable { */
/*     width: 90%; */
/*     /\* margin: auto; *\/ */
/*     margin-left: 50px; */
/*     margin-right: 50px; */
/* } */

/* /\* .JCLRgrips { *\/ */
/* /\*     width: 100% !important; *\/ */
/* /\*     margin: 0 !important; *\/ */
/* /\* } *\/ */

/* #maintdleft { */
/*     width: 100%; */
/* } */

/* #maintdright { */
/*     width: 100%; */
/* } */

#editor {
    position: relative !important;
    /* position: absolute; */
    /* margin: auto; */
    top: 0;
    border: 1px solid var(--border-color);
    margin-top: 0px;
    height: 420px;
    width: 545px;
    /* width: 100%; */
    /* height: 100%; */
    z-index: 1;
    margin-bottom: 0px;
    padding-bottom: 0px;
    border-bottom: groove;
    border-bottom-color: var(--border-color);
    background-color: var(--panel-bg-color);
}

#tabs {
    width: 100%;
}

#output {
    position: relative !important;
    /* position: absolute; */
    top: 0;
    border: 1px solid var(--border-color);
    /* height: 100%; */
    /* width: 100%; */
    width: 545px;
    background-color: var(--panel-bg-color);
}

.fullwidth {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#headerrow {
    position: relative;
}

h2 {
    text-align: center;
}

#headerrow h2 {
    margin-top: 12px;
    margin-bottom: 12px;
}

#themeToggle {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    border: 1px solid var(--border-color);
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
}

#themeToggle:hover,
#themeToggle:focus {
    background-color: var(--border-color);
    color: var(--button-text-color);
}

@media (max-width: 767px) {
    #themeToggle {
	position: static;
	transform: none;
	display: block;
	margin: 0 auto 10px auto;
    }
}

.ui-state-active {
    background: #606060 !important;
    border-color: #909090 !important;
    /*background: #909090 !important;*/
}

#content {
    width: 100%;
    text-align: left;
    margin: auto;
    color: var(--text-color);
}

#undereditor {
    margin-top: 3px;
    margin-left: 4px;
}

#feedback {
    margin: auto;
    margin-top: 10px;
    font-size: 12px;
    display: inline;
    width: 100%;
    color: var(--text-color);
}

.myButton {
    position: relative;
    z-index: 3;
}

.plusminusbutton {
    width: 20px;
    margin-left: 1px;
    margin-right: 1px;
}

.nomarginpadding {
    margin: 0px;
    padding: 0px;
}

table {
    border: ridge;
    border-width: 1px;
    border-color: var(--border-color);
    background-color: var(--panel-bg-color);
}

td {
    vertical-align: top;
    border: groove;
    border-width: 1px;
    border-color: var(--border-color);
    color: var(--text-color);
}

footer {
    margin-top: 10px;
    bottom: 0px;
    text-align: center;
}

.noborder {
    border: none !important;
}

.tokenMarker {
    position: absolute;
    background: rgba(100,200,100,0.5);
    z-index: 20
}

#outputtab {
    padding-left: 0px;
    position: relative;
}

#tokenstab, #asttab {
    padding-left: 5px;
    padding-top: 0px;
}

body.dark-mode .btn {
    border-color: var(--border-color);
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
}
